<%- include('../blocks/header', {bot:bot, user: user, auth: auth}) %>
<head>
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
</head>
<div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1><% if (guild.iconURL) { %><img class="img-fluid img-thumbnail" src="<%= guild.iconURL %>"> <% } %><%= guild.name %></h1>
      <div class="row">
				<div class="col">
          <i class="fa fa-user fa-fw" aria-hidden="true"></i> <%= bot.lang.dashboard.manage.info.owner %>: <%= `${guild.owner.user.tag}` %>
        </div>
        <div class="col">
          <i class="fa fa-users fa-fw" aria-hidden="true"></i> <%= `${guild.memberCount}` %> <%= bot.lang.dashboard.manage.info.member %>
          ( <i class="fa fa-android fa-fw" aria-hidden="true"></i> <%= `${guild.members.filter(m=>m.user.bot).size}` %> Bots )
        </div>
        <div class="col">
          <i class="fa fa-users fa-fw" aria-hidden="true"></i> <%= `${guild.roles.size}`%> <%= bot.lang.dashboard.manage.info.role %>
        </div>
        <div class="col">
          <%= bot.lang.dashboard.manage.info.channel %> : <i class="fa fa-hashtag fa-fw" aria-hidden="true"></i> <%= `${guild.channels.filter(c=>c.type==='text').size}`%>
          <i class="fa fa-microphone fa-fw" aria-hidden="true"></i> <%= `${guild.channels.filter(c=>c.type==='voice').size}`%>
        </div>
      </div>
    </div>
    <div class="col-sm-8 mx-auto" style="margin-top: 15px;">
      <p>
        <a class="btn btn-danger btn-lg" data-toggle="modal" data-target="#serverLeaveModal" role="button">Leave <i class="fa fa-sign-out" aria-hidden="true"></i></a>
        <a class="btn btn-info btn-lg" data-toggle="modal" data-target="#settingsResetModal" role="button">Reset <i class="fa fa-cogs" aria-hidden="true"></i></a>
      </p>
    </div>
  </div>

  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar01" aria-controls="navbar01" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbar01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="/manage/<%= `${guild.id}`%>/geral"><i class="fa fa-home fa-fw" aria-hidden="true"></i> <%= bot.lang.dashboard.manage.nav.geral %></a></li>
          <li class="nav-item"><a class="nav-link" href="/manage/<%= `${guild.id}`%>/logs"><i class="fa fa-eye fa-fw" aria-hidden="true"></i> <%= bot.lang.dashboard.manage.nav.logs %></a></li>
          <li class="nav-item"><a class="nav-link" href="/manage/<%= `${guild.id}`%>/moderation"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i> <%= bot.lang.dashboard.manage.nav.mod %></a></li>
          <li class="nav-item"><a class="nav-link" href="/manage/<%= `${guild.id}`%>/counter"><i class="fa fa-sort-amount-up fa-fw" aria-hidden="true"></i> <%= bot.lang.dashboard.manage.nav.counter %></a></li>
          <li class="nav-item"><a class="nav-link" href="/manage/<%= `${guild.id}`%>/welcome"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i> <%= bot.lang.dashboard.manage.nav.welcome %></a></li>
          <li class="nav-item"><a class="nav-link" href="/manage/<%= `${guild.id}`%>/music"><i class="fa fa-music fa-fw" aria-hidden="true""></i> <%= bot.lang.dashboard.manage.nav.music %></a></li>
          <li class="nav-item"><a class="nav-link" href="/manage/<%= `${guild.id}`%>/safety"><i class="fa fa-shield fa-fw" aria-hidden="true"></i> <%= bot.lang.dashboard.manage.nav.safety %></a></li>
          <li class="nav-item"><a class="nav-link" href="/manage/<%= `${guild.id}`%>/economy"><i class="fa fa-money fa-fw" aria-hidden="true"></i> <%= bot.lang.dashboard.manage.nav.safety %></a></li>
      </div>
    </div>
  </nav>
  

<h1 class="display-4"><%= bot.lang.dashboard.manage.settings.title %></h1>
<!--
<form method="post">

  <br><div class="form-group">
    <label for="logs"><b><%= bot.lang.dashboard.manage.settings.keys.logs.title %></b></label>
    <p><%= bot.lang.dashboard.manage.settings.keys.logs.desc %></p>
    <input type="text" class="form-control" id="logs" name="logs" placeholder="Enter logs" value="<%= settings.logs %>">
  </div>

  <br><div class="form-group">
    <label for="punicao"><b><%= bot.lang.dashboard.manage.settings.keys.punishment.title %></b></label>
    <p><%= bot.lang.dashboard.manage.settings.keys.punishment.desc %></p>
    <input type="text" class="form-control" id="punicao" name="punicao" placeholder="Enter punicao" value="<%= settings.punicao %>">
  </div>

  <br><div class="form-group">
    <label for="sugestao"><b><%= bot.lang.dashboard.manage.settings.keys.suggest.title %></b></label>
    <p><%= bot.lang.dashboard.manage.settings.keys.suggest.desc %></p>
    <input type="text" class="form-control" id="sugestao" name="sugestao" placeholder="Enter sugestao" value="<%= settings.sugestao %>">
  </div>

  <br><div class="form-group">
    <label for="anunciar"><b><%= bot.lang.dashboard.manage.settings.keys.announce.title %></b></label>
    <p><%= bot.lang.dashboard.manage.settings.keys.announce.desc %></p>
    <input type="text" class="form-control" id="anunciar" name="anunciar" placeholder="Enter anunciar" value="<%= settings.anunciar %>">
  </div>

  <br><div class="form-group">
    <label for="contador"><b><%= bot.lang.dashboard.manage.settings.keys.counter.title %></b></label>
    <p><%= bot.lang.dashboard.manage.settings.keys.counter.desc %></p>
    <input type="text" class="form-control" id="contador" name="contador" placeholder="Enter contador" value="<%= settings.contador %>">
  </div>

  <br><div class="form-group">
    <label for="comandos"><b><%= bot.lang.dashboard.manage.settings.keys.command.title %></b></label>
    <p><%= bot.lang.dashboard.manage.settings.keys.command.desc %></p>
    <input type="text" class="form-control" id="comandos" name="comandos" placeholder="Enter comandos" value="<%= settings.comandos %>">
  </div>

  <br><div class="form-group">
    <label for="niveis"><b><%= bot.lang.dashboard.manage.settings.keys.level.title %></b></label>
    <p><%= bot.lang.dashboard.manage.settings.keys.level.desc %></p>
    <input type="text" class="form-control" id="niveis" name="niveis" placeholder="Enter niveis" value="<%= settings.niveis %>">
  </div>

  <br><div class="form-group">
    <label for="verificar"><b><%= bot.lang.dashboard.manage.settings.keys.safety.title %></b></label>
    <p><%= bot.lang.dashboard.manage.settings.keys.safety.desc %></p>
    <input type="text" class="form-control" id="verificar" name="verificar" placeholder="Enter verificar" value="<%= settings.verificar %>">
  </div>


  <br><div class="form-group">
    <label for="canalentrada"><b><%= bot.lang.dashboard.manage.settings.keys.join.channel.title %></b></label>
    <p><%= bot.lang.dashboard.manage.settings.keys.join.channel.desc %></p>
    <input type="text" class="form-control" id="canalentrada" name="canalentrada" placeholder="Enter canalentrada" value="<%= settings.canalentrada %>">
  </div>

  <br><div class="form-group">
    <label for="canalsaida"><b><%= bot.lang.dashboard.manage.settings.keys.leave.channel.title %></b></label>
    <p><%= bot.lang.dashboard.manage.settings.keys.leave.channel.desc %></p>
    <input type="text" class="form-control" id="canalsaida" name="canalsaida" placeholder="Enter canalsaida" value="<%= settings.canalsaida %>">
  </div>

  <br><div class="form-group">
    <label for="entrada"><b><%= bot.lang.dashboard.manage.settings.keys.join.message.title %></b></label>
    <p><%= bot.lang.dashboard.manage.settings.keys.join.message.desc %></p>
    <input type="text" class="form-control" id="entrada" name="entrada" placeholder="Enter entrada" value="<%= settings.entrada %>">
  </div>

  <br><div class="form-group">
    <label for="saida"><b><%= bot.lang.dashboard.manage.settings.keys.leave.message.title %></b></label>
    <p><%= bot.lang.dashboard.manage.settings.keys.leave.message.desc %></p>
    <input type="text" class="form-control" id="saida" name="saida" placeholder="Enter saida" value="<%= settings.saida %>">
  </div>


  <br><div class="form-group">
    <label for="mod"><b><%= bot.lang.dashboard.manage.settings.keys.role.moderator.title %></b></label>
    <p><%= bot.lang.dashboard.manage.settings.keys.role.moderator.desc %></p>
    <input type="text" class="form-control" id="mod" name="mod" placeholder="Enter mod" value="<%= settings.mod %>">
  </div>

  <br><div class="form-group">
    <label for="adm"><b><%= bot.lang.dashboard.manage.settings.keys.role.administrator.title %></b></label>
    <p><%= bot.lang.dashboard.manage.settings.keys.role.administrator.desc %></p>
    <input type="text" class="form-control" id="adm" name="adm" placeholder="Enter adm" value="<%= settings.adm %>">
  </div>

  <br><div class="form-group">
    <label for="inicial"><b><%= bot.lang.dashboard.manage.settings.keys.role.beginner.title %></b></label>
    <p><%= bot.lang.dashboard.manage.settings.keys.role.beginner.desc %></p>
    <input type="text" class="form-control" id="inicial" name="inicial" placeholder="Enter inicial" value="<%= settings.inicial %>">
  </div>

  <br><div class="form-group">
    <label for="verificado"><b><%= bot.lang.dashboard.manage.settings.keys.role.verify.title %></b></label>
    <p><%= bot.lang.dashboard.manage.settings.keys.role.verify.desc %></p>
    <input type="text" class="form-control" id="verificado" name="verificado" placeholder="Enter verificado" value="<%= settings.verificado %>">
  </div>

  <br><div class="form-group">
    <label for="prefixo"><b><%= bot.lang.dashboard.manage.settings.keys.prefix.title %></b></label>
    <p><%= bot.lang.dashboard.manage.settings.keys.prefix.desc %></p>
    <input type="text" class="form-control" id="prefixo" name="prefixo" placeholder="Enter prefixo" value="<%= settings.prefixo %>">
  </div>

  <br><div class="form-group">
    <label for="automod">Auto-Moderação</label>
    <input type="text" class="form-control" id="automod" name="automod" placeholder="Enter automod" value="<%= settings.automod %>">
  </div>

  <br><div class="form-group">
    <label for="antiraid">Anti-Raid</label>
    <input type="text" class="form-control" id="antiraid" name="antiraid" placeholder="Enter antiraid" value="<%= settings.antiraid %>">
  </div>

  <br><div class="form-group">
    <label for="antispamemoji">Anti-Spam Emojis</label>
    <input type="text" class="form-control" id="antispamemoji" name="antispamemoji" placeholder="Enter antispamemoji" value="<%= settings.antispamemoji %>">
  </div>

  <br><div class="form-group">
    <label for="antispaminvite">Anti-Spam Invite</label>
    <input type="text" class="form-control" id="antispaminvite" name="antispaminvite" placeholder="Enter antispaminvite" value="<%= settings.antispaminvite %>">
  </div>

  <br><div class="form-group">
    <label for="antispamlink">Anti-Spam Invite</label>
    <input type="text" class="form-control" id="antispamlink" name="antispamlink" placeholder="Enter antispamlink" value="<%= settings.antispamlink %>">
  </div>

  <br><div class="form-group">
    <label for="antispamcaps">Anti-Spam Caps Lock</label>
    <input type="text" class="form-control" id="antispamcaps" name="antispamcaps" placeholder="Enter antispamcaps" value="<%= settings.antispamcaps %>">
  </div>

  <br><div class="form-group">
    <label for="lockserver">Lock Server</label>
    <input type="text" class="form-control" id="lockserver" name="lockserver" placeholder="Enter lockserver" value="<%= settings.lockserver %>">
  </div>

  <br><div class="form-group">
    <label for="textdup">Anti Text-Dup</label>
    <input type="text" class="form-control" id="textdup" name="textdup" placeholder="Enter textdup" value="<%= settings.textdup %>">
  </div>

  <button type="submit" class="btn btn-primary" onclick="return Salvar();"><%= bot.lang.dashboard.manage.settings.save %></button>
</form>-->

<p>Em breve.</p>

<%
  async function Salvar() {
    const Servidor = require('../database/servidor.js')
     for (const key in settings) {  
      let valor = document.getElementById(key).value;
      Servidor.findOneAndUpdate({id: guild.id}, {'key': valor}, {upsert:false});
    }
  }
%>

<!-- Manage Page Modals -->
<div class="modal fade" id="serverLeaveModal" tabindex="-1" role="dialog" aria-labelledby="serverLeaveModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="serverLeaveModalLabel"><%= bot.lang.dashboard.manage.info.leave.title %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <%= bot.lang.dashboard.manage.info.leave.desc.replace('{bot.user.username}',bot.user.username) %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= bot.lang.dashboard.manage.info.leave.cancel %></button>
        <a class="btn btn-primary" href="/leave/<%= guild.id %>" role="button"><%= bot.lang.dashboard.manage.info.leave.leave %></a>
      </div>
    </div>
  </div>
</div>

<!-- Manage Page Modals -->
<div class="modal fade" id="settingsResetModal" tabindex="-1" role="dialog" aria-labelledby="settingsResetModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="settingsResetModalLabel"><%= bot.lang.dashboard.manage.info.reset.title %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <%= bot.lang.dashboard.manage.info.reset.desc %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= bot.lang.dashboard.manage.info.reset.cancel %></button>
        <a class="btn btn-primary" href="/reset/<%= guild.id %>" role="button"><%= bot.lang.dashboard.manage.info.reset.leave %></a>
      </div>
    </div>
  </div>
</div>

<% include ../blocks/footer %>
