<%- include('../blocks/header', {bot:bot, user: user, auth: auth}) %>
<head>
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
</head>
<div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1><% if (guild.iconURL) { %><img class="img-fluid img-thumbnail" src="<%= guild.iconURL %>"> <% } %><%= guild.name %></h1>
      <div class="row">
				<div class="col">
          <i class="fa fa-user fa-fw" aria-hidden="true"></i> <%= bot.lang.dashboard.manage.info.owner %>: <%= `${guild.owner.user.tag}` %>
        </div>
        <div class="col">
          <i class="fa fa-users fa-fw" aria-hidden="true"></i> <%= `${guild.memberCount}` %> <%= bot.lang.dashboard.manage.info.member %>
          ( <i class="fa fa-android fa-fw" aria-hidden="true"></i> <%= `${guild.members.filter(m=>m.user.bot).size}` %> Bots )
        </div>
        <div class="col">
          <i class="fa fa-users fa-fw" aria-hidden="true"></i> <%= `${guild.roles.size}`%> <%= bot.lang.dashboard.manage.info.role %>
        </div>
        <div class="col">
          <%= bot.lang.dashboard.manage.info.channel %> : <i class="fa fa-hashtag fa-fw" aria-hidden="true"></i> <%= `${guild.channels.filter(c=>c.type==='text').size}`%>
          <i class="fa fa-microphone fa-fw" aria-hidden="true"></i> <%= `${guild.channels.filter(c=>c.type==='voice').size}`%>
        </div>
      </div>
    </div>
    <div class="col-sm-8 mx-auto" style="margin-top: 15px;">
      <p>
        <a class="btn btn-danger btn-lg" data-toggle="modal" data-target="#serverLeaveModal" role="button">Leave <i class="fa fa-sign-out" aria-hidden="true"></i></a>
        <a class="btn btn-info btn-lg" data-toggle="modal" data-target="#settingsResetModal" role="button">Reset <i class="fa fa-cogs" aria-hidden="true"></i></a>
      </p>
    </div>
  </div>

  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar01" aria-controls="navbar01" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbar01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="/manage/<%= `${guild.id}`%>/geral"><i class="fa fa-home fa-fw" aria-hidden="true"></i> <%= bot.lang.dashboard.manage.nav.geral %></a></li>
          <li class="nav-item"><a class="nav-link" href="/manage/<%= `${guild.id}`%>/logs"><i class="fa fa-eye fa-fw" aria-hidden="true"></i> <%= bot.lang.dashboard.manage.nav.logs %></a></li>
          <li class="nav-item"><a class="nav-link" href="/manage/<%= `${guild.id}`%>/moderation"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i> <%= bot.lang.dashboard.manage.nav.mod %></a></li>
          <li class="nav-item"><a class="nav-link" href="/manage/<%= `${guild.id}`%>/counter"><i class="fa fa-sort-amount-up fa-fw" aria-hidden="true"></i> <%= bot.lang.dashboard.manage.nav.counter %></a></li>
          <li class="nav-item"><a class="nav-link" href="/manage/<%= `${guild.id}`%>/welcome"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i> <%= bot.lang.dashboard.manage.nav.welcome %></a></li>
          <li class="nav-item"><a class="nav-link" href="/manage/<%= `${guild.id}`%>/music"><i class="fa fa-music fa-fw" aria-hidden="true""></i> <%= bot.lang.dashboard.manage.nav.music %></a></li>
          <li class="nav-item"><a class="nav-link" href="/manage/<%= `${guild.id}`%>/safety"><i class="fa fa-shield fa-fw" aria-hidden="true"></i> <%= bot.lang.dashboard.manage.nav.safety %></a></li>
          <li class="nav-item"><a class="nav-link" href="/manage/<%= `${guild.id}`%>/economy"><i class="fa fa-money fa-fw" aria-hidden="true"></i> <%= bot.lang.dashboard.manage.nav.safety %></a></li>
      </div>
    </div>
  </nav>
  

<h1 class="display-4"><%= bot.lang.dashboard.manage.settings.title %></h1>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong><%= bot.lang.dashboard.manage.settings.alert %></strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<form method="post">

  <% const settings = bot.settings.get(guild.id)  %>
  <!--WELCOME-->

  <br><div class="form-group">
    <label for="entrada"><b><%= bot.lang.dashboard.manage.settings.keys.join.channel.title %></b></label>
    <p><%= bot.lang.dashboard.manage.settings.keys.join.channel.desc %></p>
    <input type="text" class="form-control" id="entrada" name="entrada" placeholder="Enter entrada" value="<%= bot.channels.get(settings.entrada) ? '#' + bot.channels.get(settings.entrada).name : '#nenhum' %>">
  </div>

  <br><div class="form-group">
    <label for="saida"><b><%= bot.lang.dashboard.manage.settings.keys.leave.channel.title %></b></label>
    <p><%= bot.lang.dashboard.manage.settings.keys.leave.channel.desc %></p>
    <input type="text" class="form-control" id="saida" name="saida" placeholder="Enter saida" value="<%= bot.channels.get(settings.saida) ? '#' + bot.channels.get(settings.saida).name : '#nenhum' %>">
  </div>

  <br><div class="form-group">
    <label for="welcome"><b><%= bot.lang.dashboard.manage.settings.keys.join.message.title %></b></label>
    <p><%= bot.lang.dashboard.manage.settings.keys.join.message.desc %></p>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong><%= bot.lang.dashboard.manage.settings.keys.join.message.var %></strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <input type="text" class="form-control" id="welcome" name="welcome" placeholder="Enter welcome" value="<%= settings.welcome == 'false' ? '#Mensagem de welcome não definida!' : settings.welcome %>">
  </div>

  <br><div class="form-group">
    <label for="leave"><b><%= bot.lang.dashboard.manage.settings.keys.leave.message.title %></b></label>
    <p><%= bot.lang.dashboard.manage.settings.keys.leave.message.desc %></p>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong><%= bot.lang.dashboard.manage.settings.keys.leave.message.var %></strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <input type="text" class="form-control" id="leave" name="leave" placeholder="Enter leave" value="<%= settings.leave == 'false' ? '#Mensagem de leave não definida!' : settings.leave %>">
  </div>

  <!---->

  <button type="submit" class="btn btn-primary" onclick="return Salvar();"><%= bot.lang.dashboard.manage.settings.save %></button>
</form>

<%
  async function Salvar() {
    const Servidor = require('../database/servidor.js')
     for (const key in settings) {  
      let valor = document.getElementById(key).value;
      Servidor.findOneAndUpdate({id: guild.id}, {'key': valor}, {upsert:false});
    }
  }
%>

<!-- Manage Page Modals -->
<div class="modal fade" id="serverLeaveModal" tabindex="-1" role="dialog" aria-labelledby="serverLeaveModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="serverLeaveModalLabel"><%= bot.lang.dashboard.manage.info.leave.title %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <%= bot.lang.dashboard.manage.info.leave.desc.replace('{bot.user.username}',bot.user.username) %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= bot.lang.dashboard.manage.info.leave.cancel %></button>
        <a class="btn btn-primary" href="/leave/<%= guild.id %>" role="button"><%= bot.lang.dashboard.manage.info.leave.leave %></a>
      </div>
    </div>
  </div>
</div>

<!-- Manage Page Modals -->
<div class="modal fade" id="settingsResetModal" tabindex="-1" role="dialog" aria-labelledby="settingsResetModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="settingsResetModalLabel"><%= bot.lang.dashboard.manage.info.reset.title %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <%= bot.lang.dashboard.manage.info.reset.desc %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= bot.lang.dashboard.manage.info.reset.cancel %></button>
        <a class="btn btn-primary" href="/reset/<%= guild.id %>" role="button"><%= bot.lang.dashboard.manage.info.reset.leave %></a>
      </div>
    </div>
  </div>
</div>

<% include ../blocks/footer %>
