<%- include('blocks/header', {bot:bot, user: user, auth: auth}) %>

  <%
const help = {};
bot.comandos.forEach((comando) => {
  const cat = comando.configuracao.modulo;
  if (!help.hasOwnProperty(cat)) help[cat] = [];
  help[cat].push(comando);
});
%>


    <h1 class="display-3"><%= bot.lang.dashboard.commands.title %></h1>

    <% for (const modulo in help) { 
      let id = 0
      if(user) id = user.id
      if(modulo == 'especiais' && id != '376460601909706773') continue;
      %>
      <h1 class="display-5">
        <%= modulo %>
      </h1>
      <div class="card-columns">
        <% for (const command of help[modulo]) { %>
          <div class="card">
            <h3 class="card-header"><%= command.ajuda.nome %></h3>
              <div class="card-block" style="margin: 7px">
                <p class="card-text"><%= command.ajuda.descricao %></p>
                <h6 class="card-subtitle text-muted"><%= bot.lang.dashboard.commands.command.permission %>: <%= command.configuracao.permissoesNecessarias.join(' ') %><br /><a href="#" data-toggle="modal" data-target="#<%= `${command.ajuda.nome}` %>Modal"><%= bot.lang.dashboard.commands.more %></a></h6>
              </div>
          </div>
          <div id="<%= `${command.ajuda.nome}` %>Modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header btn-info disabled">
                  <h4 class="modal-title"><%= command.ajuda.nome %></h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <p><span style="font-weight: bold;"><%= bot.lang.dashboard.commands.command.desc %>:</span> <%= command.ajuda.descricao %></p>
                    <p><span style="font-weight: bold;"><%= bot.lang.dashboard.commands.command.module %>:</span> <%= command.configuracao.modulo %></p>
                    <p><span style="font-weight: bold;"><%= bot.lang.dashboard.commands.command.exemple %>:</span> <%= command.ajuda.exemplos %></p>
                    <p><span style="font-weight: bold;"><%= bot.lang.dashboard.commands.command.permission %>:</span> <%= command.configuracao.permissoesNecessarias.join(" ") %></p>
                    <p><span style="font-weight: bold;"><%= bot.lang.dashboard.commands.command.aliases %>:</span> <%= command.configuracao.aliases %></p>

                  </div>
                <div class="modal-footer"><button type="button" class="btn btn-outline-danger" data-dismiss="modal"><%= bot.lang.dashboard.commands.command.button %></button></div>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    <% } %>

<% include ./blocks/footer %>
